<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> Shop - Dentist </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="assets/images/fav-icon/icon.png">
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
	<!-- responsive CSS -->
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">


</head>

<body>



	<!-- loader -->
	<div id="loftloader-wrapper" class="end-split-h loftloader-waterfilling loftloader-forever">
		<div class="loader-bg"></div>
		<div class="loader-inner">
			<div id="loader"><span></span></div>
		</div>
	</div>




	<!--==================================================-->
	<!-- Start Dreamhub Header Top Menu Area Css -->
	<!--==================================================-->

	<div class="header_top_menu">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-sm-8">
					<div class="header_top_menu_address">
						<div class="header_top_menu_address_inner">
							<ul>
								<li><a href="shop.html#"><i class="far fa-envelope"></i>example@gmail.com</a></li>
								<li><a href="shop.html#"><i class="fas fa-map-marker-alt"></i>24/5, 1st Floor, Kurigram</a></li>
								<li><a href="shop.html#"><i class="fa fa-phone"></i>+ (1800) 456 7890</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="header_top_menu_icon">
						<div class="header_top_menu_icon_inner">
							<ul>
								<li><a href="shop.html#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="shop.html#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="shop.html#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="shop.html#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="shop.html#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End	Dreamhub Header Top Menu Area Css -->
	<!--===================================================-->




	<!--==================================================-->
	<!-- Start Dentist Main Menu  -->
	<!--==================================================-->
	<div id="sticky-header" class="dentist_nav_manu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2">
					<div class="logo">
						<a class="logo_img" href="home.blade.php" title="dentist">
							<img src="assets/images/logo.png" alt="logo">
						</a>
						<a class="main_sticky" href="home.blade.php" title="dentist">
							<img src="assets/images/logo2.png" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-lg-10">
					<nav class="dentist_menu">
						<ul class="nav_scroll">
							<li><a href="home.blade.php">Home</a></li>
							<li><a href="shop.html#">Pages <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="sub-menu">
									<li><a href="about.blade.php">About Us</a></li>
									<li><a href="service.html">Our Service</a></li>
									<li><a href="service-details.html">Service Details</a></li>
									<li><a href="team.html">Our Doctor</a></li>
									<li><a href="team-details.html">Doctor Details</a></li>
									<li><a href="appointment.html">Appointment</a></li>
									<li><a href="faq.blade.php">Faq</a></li>
								</ul>
							</li>
							<li><a href="shop.html#">Services <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="sub-menu">
									<li><a href="service.html">Our Service</a></li>
									<li><a href="service-details.html">Service Details</a></li>
								</ul>
							</li>
							<li><a href="shop.html#">Blog <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="sub-menu">
									<li><a href="articles.blade.php">Blog Gird</a></li>
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="article.blade.php">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="shop.html#">Shop <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="sub-menu">
									<li><a href="shop.html">Shop One</a></li>
									<li><a href="shop-2.html">Shop Two</a></li>
									<li><a href="shop-details.html">Shop Details</a></li>
								</ul>
							</li>
							<li><a href="contact.blade.php">Contact</a></li>
						</ul>
						<!-- header button -->
						<div class="header-right">
							<div class="header-button">
								<a href="contact.blade.php">Send a Request</a>
							</div>
							<div class="search-box-btn search-box-outer">
								<div class="nav-btn navSidebar-button"><a><i class="fas fa-bars"></i></a></div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!-- Dentist Mobile Menu  -->
	<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
		<div class="mobile-menu">
			<nav class="dentist_menu">
				<ul class="nav_scroll">
					<li><a href="home.blade.php">Home</a></li>
					<li><a href="shop.html#">Pages <span><i class="fas fa-chevron-down"></i></span></a>
						<ul class="sub-menu">
							<li><a href="about.blade.php">About Us</a></li>
							<li><a href="service.html">Our Service</a></li>
							<li><a href="service-details.html">Service Details</a></li>
							<li><a href="team.html">Our Doctor</a></li>
							<li><a href="team-details.html">Doctor Details</a></li>
							<li><a href="appointment.html">Appointment</a></li>
							<li><a href="faq.blade.php">Faq</a></li>
						</ul>
					</li>
					<li><a href="shop.html#">Services <span><i class="fas fa-chevron-down"></i></span></a>
						<ul class="sub-menu">
							<li><a href="service.html">Our Service</a></li>
							<li><a href="service-details.html">Service Details</a></li>
						</ul>
					</li>
					<li><a href="shop.html#">Blog <span><i class="fas fa-chevron-down"></i></span></a>
						<ul class="sub-menu">
							<li><a href="articles.blade.php">Blog Gird</a></li>
							<li><a href="blog-list.html">Blog List</a></li>
							<li><a href="article.blade.php">Blog Details</a></li>
						</ul>
					</li>
					<li><a href="shop.html#">Shop <span><i class="fas fa-chevron-down"></i></span></a>
						<ul class="sub-menu">
							<li><a href="shop.html">Shop One</a></li>
							<li><a href="shop-2.html">Shop Two</a></li>
							<li><a href="shop-details.html">Shop Details</a></li>
						</ul>
					</li>
					<li><a href="contact.blade.php">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Dentist Main Menu  -->
	<!--==================================================-->





	<!--==================================================-->
	<!-- Start Dentist Sidebar section -->
	<!--==================================================-->

	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<!-- widget button -->
				<div class="widget-heading">
					<a href="shop.html#" class="close-side-widget">
						<i class="far fa-times-circle"></i>
					</a>
				</div>
				<div class="sidebar-textwidget">
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="nav-logo">
								<a href="home.blade.php"><img src="assets/images/logo.png" alt=""></a>
							</div>
							<!-- widget search -->
							<div class="widget-search">
			                    <div class="widget">
			                        <form action="https://formspree.io/f/myyleorq" method="POST" id="dreamit-form">
			                            <input id="search2" type="text" name="s" value="" placeholder="Search Product" title="Search for:" autocomplete="off">
			                            <button type="submit" class="icon">
			                            	<i class="bi bi-search"></i>
			                            </button>
			                        </form>
			                    </div>
			                </div>
							<!-- Widget wrapper End -->
							<div class="product-category">
								<!-- widget title -->
								<h3 class="widget-title">Product Categories</h3>
								<ul class="list-style-one">
									<li><a href="shop-2.html"> Stainless Steel Lucas <span>0</span></a></li>
									<li><a href="shop-2.html"> Stainless Stomatology <span>1</span></a></li>
									<li><a href="shop-2.html"> Chainsaw Clipart <span>8</span></a></li>
									<li><a href="shop-2.html"> Tooth Extraction <span>8</span></a></li>
									<li><a href="shop-2.html"> Pair of Skis <span>15</span></a></li>
									<li><a href="shop-2.html"> Gray Tong <span>11</span></a></li>
									<li><a href="shop-2.html"> Scalpel Craft Knife <span>6</span></a></li>
									<li><a href="shop-2.html"> Dental Pliers <span>10</span></a></li>
									<li><a href="shop-2.html"> Dental Shower <span>5</span></a></li>
									<li><a href="shop-2.html"> Steel Cuticle Nipper <span>2</span></a></li>
									<li><a href="shop-2.html"> Hand Drawn <span>1</span></a></li>
								</ul>
							</div>
							<!-- color category -->
							<div class="color-category">
								<!-- widget title -->
								<h3 class="widget-title">Recent Post</h3>
								<ul class="list-style-one">
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery1.jpg" alt=""></a>
										</div>
									</li>
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery2.jpg" alt=""></a>
										</div>
									</li>
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery3.jpg" alt=""></a>
										</div>
									</li>
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery4.jpg" alt=""></a>
										</div>
									</li>
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery5.jpg" alt=""></a>
										</div>
									</li>
									<li>
										<div class="widget-gallery-thumb">
											<a href="shop-2.html"><img src="assets/images/resource/gallery6.jpg" alt=""></a>
										</div>
									</li>
								</ul>
							</div>
							<!-- widget title -->
							<h3 class="widget-title">Tags</h3>
							<div class="sidebar-tag-item">
								<ul>
									<li><a href="shop.html#">Dental</a></li>
									<li><a href="shop.html#">Pair</a></li>
									<li><a href="shop.html#">Skis</a></li>
									<li><a href="shop.html#">Doctor</a></li>
									<li><a href="shop.html#">Hospital</a></li>
									<li><a class="item1" href="shop.html#">Stomatology</a></li>
								</ul>
							</div>
							<!-- Social icon -->
							<div class="category-icon">
								<!-- widget title -->
							<h3 class="widget-title">Social List</h3>
								<div class="follow-company-icon style-two">
									<a href="shop.html#"> <i class="fab fa-facebook-f"></i> </a>
									<a href="shop.html#"> <i class="fab fa-pinterest"></i> </a>
									<a href="shop.html#"> <i class="fab fa-instagram"> </i> </a>
									<a href="shop.html#"> <i class="fab fa-google"></i> </a>
								</div>
							</div>
							<!-- icon End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End Dentist Sidebar section -->
	<!--==================================================-->








	<!--==================================================-->
	<!-- Start Dentist Breadcumb Section -->
	<!--==================================================-->
	<!-- Blog Breadcumb Start -->
	<div class="breadcumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-left">
					<div class="breadcumb-title"><h2>Shop</h2></div>
					<div class="breadcumb-inner">
						<ul>
							<li><a href="home.blade.php">Home</a></li>
							<li><i class="fa fa-angle-right"></i></li>
							<li>Shop</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- Endf Dentist Breadcumb Section -->
	<!--==================================================-->



	<!--==================================================-->
	<!-- Start Dentist Shop Section  -->
	<!--==================================================-->

	<div class="shop-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12 pr-0 pl-0">
					<!-- widget check box -->
					<div class="widget-check-box">
						<!-- categories title -->
						<div class="categories-title">
							<h4> Categories </h4>
						</div>
						<!-- label -->
						<label class="widget-check">Uncategories <span>(18)</span>
							<input id="checkbox1" name="checkbox" type="checkbox" checked="checked">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check">Accessories <span>(12)</span>
							<input id="checkbox2" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check">Whashing Tools <span>(23)</span>
							<input id="checkbox3" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check"> Equipments <span>(15)</span>
							<input id="checkbox4" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check">Uncategories <span>(18)</span>
							<input id="checkbox5" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check">Accessories <span>(12)</span>
							<input id="checkbox6" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check">Whashing Tools <span>(23)</span>
							<input id="checkbox7" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
						<!-- label -->
						<label class="widget-check"> Equipments <span>(15)</span>
							<input id="checkbox8" name="checkbox" type="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
					<!-- range wrapper Start -->
					<div class="range-wrapper-box">
						<!-- categories title -->
						<div class="categories-title">
							<h4> Price Range </h4>
						</div>
						<div id="slider-range"></div>
						<div class="slider-labels">
							<div class="caption">
								<strong>Filter</strong> <span id="slider-range-value1"></span>
							</div>
							<div class="text-right caption">
								<span>-</span> <span id="slider-range-value2"></span>
							</div>
						</div>
						<form>
							<input type="hidden" name="min-value" value="">
							<input type="hidden" name="max-value" value="">
						</form>
					</div>
					<!-- range wrapper End -->

					<!-- product category box -->
					<div class="product-categories-box">
						<!-- categories title -->
						<div class="categories-title">
							<h4> Popular Products </h4>
						</div>
						<!-- product collection -->
						<div class="products-collection">
							<!-- product thumb -->
							<div class="product-thumb">
								<img src="assets/images/resource/prdct1.jpg" alt="">
							</div>
							<!-- products content -->
							<div class="products-content">
								<!-- title -->
								<div class="products-title">
									<h6>Tooth Extraction</h6>
								</div>
								<!-- proice -->
								<div class="product-price">
									<span>£30.00</span>
								</div>
								<div class="product-icon-list">
									<ul>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- product collection -->
						<div class="products-collection">
							<!-- product thumb -->
							<div class="product-thumb">
								<img src="assets/images/resource/prdct2.jpg" alt="">
							</div>
							<!-- products content -->
							<div class="products-content">
								<!-- title -->
								<div class="products-title">
									<h6>Stainless Steel</h6>
								</div>
								<!-- proice -->
								<div class="product-price">
									<span>£15.00</span>
								</div>
								<div class="product-icon-list">
									<ul>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- product collection -->
						<div class="products-collection">
							<!-- product thumb -->
							<div class="product-thumb">
								<img src="assets/images/resource/prdct3.jpg" alt="">
							</div>
							<!-- products content -->
							<div class="products-content">
								<!-- title -->
								<div class="products-title">
									<h6>Dental Pliers</h6>
								</div>
								<!-- proice -->
								<div class="product-price">
									<span>£45.00</span>
								</div>
								<div class="product-icon-list">
									<ul>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- product collection -->
						<div class="products-collection">
							<!-- product thumb -->
							<div class="product-thumb">
								<img src="assets/images/resource/prdct4.jpg" alt="">
							</div>
							<!-- products content -->
							<div class="products-content">
								<!-- title -->
								<div class="products-title">
									<h6>Scalpel Craft</h6>
								</div>
								<!-- proice -->
								<div class="product-price">
									<span>£22.00</span>
								</div>
								<div class="product-icon-list">
									<ul>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-12">
					<div class="row products">
						<div class="col-lg-6 col-md-6">
							<div class="form_box">
								<p class="form-text">Show on Page</p>
								<select id="cars" name="carlist">
									<option value="service">10 items</option>
									<option value="volvo">9 items</option>
									<option value="saab">8 items</option>
									<option value="opel">7 items</option>
									<option value="audi">6 items</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<!-- widget search -->
							<div class="widget_search upper">
								<form action="shop.html#" method="get">
									<input type="text" name="s" value="" placeholder="Search Here" title="Search for:">
									<button type="submit" class="icons">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop11.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Stainless Steel Dental </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £20.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop2.jpg" alt="">
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Steel Cuticle Nipper </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £30.00 <span>£40.00</span> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop3.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Hand Drawn </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £50.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop1.jpg" alt="">
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Dental Shower </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £30.00 <span>£30.00</span> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop13.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
									<div class="product-title">
										<h2> Stainless Steel Lucas </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £60.00 - £70.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop4.jpg" alt="">
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
									</ul>
									<div class="product-title">
										<h2> Stainless Stomatology </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £45.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop5.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
									</ul>
									<div class="product-title">
										<h2> Chainsaw Clipart </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £14.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop6.jpg" alt="">
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
									<div class="product-title">
										<h2> Tooth Extraction </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £30.00 <span>£30.00</span> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop7.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Pair of Skis </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £75.00> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop8.jpg" alt="">
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
									<div class="product-title">
										<h2> Gray Tong </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £30.00 <span>£30.00</span> </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop12.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-half"></i></li>
									</ul>
									<div class="product-title">
										<h2> Scalpel Craft Knife </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £45.00 </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6">
							<div class="single-products-box">
								<!-- products thumb -->
								<div class="products-thumb">
									<img src="assets/images/resource/shop9.jpg" alt="">
									<!-- product sale -->
									<div class="product-sale">
										<span> SALE </span>
									</div>
									<!-- product thumb -->
									<div class="product-thumb-icon">
										<a href="cart.html"> <i class="bi bi-cart3"></i> </a>
										<a href="shop-details.html"> <i class="bi bi-suit-heart"></i> </a>
									</div>
								</div>
								<!-- products content -->
								<div class="product-content">
									<!-- product list -->
									<ul class="product-rating">
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star-fill"></i></li>
										<li><i class="bi bi-star"></i></li>
										<li><i class="bi bi-star"></i></li>
									</ul>
									<div class="product-title">
										<h2> Dental Pliers </h2>
									</div>
									<!-- product text -->
									<div class="product-price">
										<p> £20.00 </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="pagination-menu text-center">
								<ul> <li><a href="shop.html#" class="active">1</a></li>
									 <li><a href="shop.html#" class="#">2</a></li>
									 <li><a href="shop.html#" class="#">3</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End Dentist Shop Section  -->
	<!--==================================================-->





	<!--==================================================-->
	<!-- Start Dentist Footer Section  -->
	<!--==================================================-->

	<div class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget widgets-company-info">
						<div class="dreamhub-logo">
						<a class="logo_thumb" href="home.blade.php" title="dreamhub">
							<img src="assets/images/logo3.png" alt="">
						</a>
					</div>
						<div class="company-info-desc">
							<p> It helps designers plan out where the content will sit, the content to be written and approved. </p>
						</div>
						<div class="follow-company-icon">
							<a href="shop.html#"> <i class="fab fa-facebook-f"></i> </a>
							<a href="shop.html#"> <i class="fab fa-pinterest"></i> </a>
							<a href="shop.html#"> <i class="fab fa-instagram"> </i> </a>
							<a href="shop.html#"> <i class="fab fa-google"></i> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 pl-40">
					<div class="widget widget-nav-menu">
						<h4 class="widget-title">Quick Link</h4>
						<div class="menu-quick-link-content">
							<ul class="footer-menu">
								<li><a href="shop.html#"> About Us </a></li>
								<li><a href="shop.html#"> Our Services </a></li>
								<li><a href="shop.html#"> Doctor </a></li>
								<li><a href="shop.html#"> Doctor 2 </a></li>
								<li><a href="shop.html#"> Events </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 pl-40">
					<div class="widget widget-nav-menu">
						<h4 class="widget-title">Recent Posts</h4>
						<div class="menu-quick-link-content">
							<div class="single-widget-item">
								<div class="recent-post-item">
									<div class="recent-post-image">
										<a href="shop.html#"><img src="assets/images/resource/recent1.png" alt=""></a>
									</div>
									<div class="recent-post-text">
										<h4><a href="shop.html#">Get The Exercise Limited Mobility</a></h4>
										<span class="rcomment"><i class="far fa-calendar-alt"></i> Sep 03, 2023</span>
									</div>
								</div>
								<div class="recent-post-item">
									<div class="recent-post-image">
										<a href="shop.html#"><img src="assets/images/resource/recent2.png" alt=""></a>
									</div>
									<div class="recent-post-text">
										<h4><a href="shop.html#"> How Long Does It Take To Whiten </a></h4>
										<span class="rcomment"><i class="far fa-calendar-alt"></i> Sep 03, 2023</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 pl-40 pr-0">
					<div class="widget widget-nav-menu">
						<h4 class="widget-title"> Contact Us </h4>
						<div class="menu-quick-info-content">
							<ul class="footer-info">
								<li>
									<span><i class="fas fa-phone-alt"></i>Phone Number</span><br>
									<a href="shop.html#">(+44) 123 456 789 </a>
								</li>
								<li>
									<span><i class="far fa-envelope"></i>Locations</span><br>
									<a href="shop.html#">16/B California,USA</a>
								</li>
								<li>
									<span><i class="fas fa-map-marker-alt"></i>Email Address</span><br>
									<a href="shop.html#">example@gmail.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer-bg">
				<div class="col-lg-12 col-md-12">
					<div class="footer-bottom-content">
						<div class="footer-bottom-content-copy">
							<p>©2023 All Rights Reserved Dreamhub</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End Dentist Footer Section  -->
	<!--==================================================-->




	<!--==================================================-->
	<!-- Start scrollup section -->
	<!--==================================================-->
	<div id="progress" class="progress hide">
		<div id="progress-value"></div>
	</div>
	<!--==================================================-->
	<!-- Start scrollup section -->
	<!--==================================================-->





	<script src="assets/js/vendor/jquery-3.6.2.min.js"></script>

	<script src="assets/js/popper.min.js"></script>

	<script src="assets/js/bootstrap.min.js"></script>

	<script src="assets/js/owl.carousel.min.js"></script>

	<script src="assets/js/jquery.counterup.min.js"></script>

	<script src="assets/js/waypoints.min.js"></script>

	<script src="assets/js/wow.js"></script>

	<script src="assets/js/imagesloaded.pkgd.min.js"></script>

	<script src="venobox/venobox.js"></script>

	<script src="assets/js/animated-text.js"></script>

	<script src="venobox/venobox.min.js"></script>

	<script src="assets/js/isotope.pkgd.min.js"></script>

	<script src="assets/js/jquery.meanmenu.js"></script>

	<script src="assets/js/jquery.scrollUp.js"></script>

	<script src="assets/js/price-ranger.js"></script>

	<script src="assets/js/custom.js"></script>

</body>

</html>
